
ul {
    list-style: none;
}

.services-list-wrap > ul > li {
    padding: 7px;
}

h2 {
    font-size: 42px;
    font-family: 'Atma', cursive;
    font-weight: normal;
}

/* Main component / outer wrapper */
.servicesWrapper {
    color: #333;
    font-family: Georgia, serif;
    background-color: #20303e1a;
    border-radius: 1%;
    width: 90%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 140px;
    margin-bottom: 40px;
    padding-bottom: 12px;
}

/*  wrapper for 2 ul's mic image and link button to samples pages */
.services-list-wrap {
    display: flex;
    width: 55%;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* innermost wrapper for mic image and link button */
.samples-link {
    width: 91%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.samples-link > a > button[type="button"] {
    cursor: pointer;
}

.services-list-wrap > ul {
    padding: 0;  /* remove default padding from ul */
    font-weight: 900;
    font-size: 18px;
}

/* image styling */
.samples-image {
    height: 288px;
    width: 299px;
    opacity: 0.7;
    border-radius: 2px;
    margin: 19px;
}

/* link button styling */
.sample-anchor {
    background-color: transparent;
    text-decoration: none;
}

/* link button remove default styling */
button[type="button"] {
    background: transparent;
    border: 1px solid #0404226e;
    border-radius: 3px;
    padding: 9px;
    color: #333;
}

@media screen and (max-width: 600px) {
    .services-list-wrap {
        width: 90%;
    }
}

@media screen and (min-width: 800px) and (min-height: 900px) {
    .servicesWrapper {
        margin-top: 370px;
    }
} 

@media screen and (min-width: 1200px) and (min-height: 1200px) {
    .servicesWrapper {
        margin-top: 700px;
    }
} 
